<div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Add Question</h3>
          <p class="text-subtitle text-muted">
            Add Question to 
          </p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Questions</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Questions</li>
              </ol>
          </nav>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Add Question</h4>
          </div>
          <div class="card-body">
            <div class="col-sm-12">
                <p>Write Your Question here </p>
                <!-- <div id="full">
                    <p>Hello World!</p>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br></p>
                </div> -->
                <div class="ql-toolbar ql-snow">
                    
                </div>
            </div>
              <div class="col-sm-12 mt-3">
                  <button type="submit"  class="btn btn-primary">Add Category</button>
              </div>
              
          </div>
  
      </div>
    </section>
  </div>
  