<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Add Quiz</h3>
        <p class="text-subtitle text-muted">
            Add new quiz
        </p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quizzes</li>
            </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">New Quiz</h4>
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <h6>Title Of Quiz</h6>
                <div class="form-group position-relative has-icon-left">
                    <input  type="text" class="form-control" placeholder="Input title of Quiz">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h6>Quiz Description</h6>
                    <div class="form-group position-relative has-icon-left">
                        <textarea class="form-control" placeholder="Enter New Description" id="exampleFormControlTextarea1" rows="2"></textarea>
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                </div>
                <h5>Add Section</h5>
                <div class="col-sm-12">
                    <div class="card-body" *ngFor="let div of sections;let num = index">
                        <h6>Section {{num+1}}</h6>
                        <div class="input-group mb-3 ">
                            <label class="input-group-text" for="inputGroupSelect01">Select Title of Category &nbsp;</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value=>A</option>
                                <option value=>B</option>
                                <option value=>C</option>
                                <option value=>D</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label class="input-group-text" for="">&nbsp; Number Of Questions &nbsp;&nbsp;</label>
                            <input class="form-control" type="number" />
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-12 text-center">
                    <button class="btn btn-info" style="margin-right: 1rem;" (click)="addSection()">Add Section</button>
                    <button class="btn btn-danger" (click)="deleteSection()">Delete Section</button>
                </div>
            </div>
        </div>
    </div>
  </section>

</div>
